.titulo {
	margin-left: 50%;
	text-align: center;
}

.nome-empresa li a{
	font-style: italic;
	font-size: 30px;
	padding-left: 300px;
}

.logo{
	max-width: auto;
	max-height: 64px;
}

.parallax-container {
  height: 400px;
}

.hero {
	margin: 0 auto;
	max-width: 100%;
}

.container-geral {
	margin-top: 20px;
}

.container-mobile {
	margin-left:8%;
}

.conteudo-princ {
	background-color: #ffffff;
}

.formulario {
	background-color: #ffffff;
}

.form-mobile {
	max-height: 50px;
}

.facebook {
	margin-top: 20px;
	max-width: 100%;
	height: 200px;
	background-color: #ffffff;
}

.twitter {
	margin-top: 20px;
	max-width: 100%;
	height: 250px;
	background-color: #ffffff;
}

.twitter-timeline {
	width: 100% !important;  

}

.paciente-img {
	height: 100%;
	border-radius: 1%;
	margin-top: 15%;
}


.opcoes {
	background-color: #00bcd4;
	opacity: 0.6;
	max-width: 300px;
	height: 120px;
	margin: 150px 3% 0 60%;
	border-radius: 2%;
}

.opcoes ul {
	padding-top: 4%;
}

.opcoes li {

	text-align: center;
}

.botao {
	margin-left: 45px;
}

.rodape {
	margin-top: 150px;
	margin-bottom: 30px;
}

.rodape-mobile {
	margin-top: 50px;
	margin-bottom: 30px;
}

.titulo-aside {
	height: 40px;
}

#fb-root {
  display: none;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

body {
	background-color: #eceff1;
}

h5 {
	padding-top: 5px;
}

hr {
	max-width: 85%;
	color: #ffffff;
}

p {
	text-align: justify;
	margin: 10px;
}

li a {
	text-decoration: none;
	color: #ffffff;
}

